/* Imports */
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* Colors */
/* Font Familys 

font-family: 'Arvo', serif;
font-family: 'Roboto', sans-serif;

*/
body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }

.Layout-header {
  background: #EF4824; }
.Layout-menu {
  background: #F26115; }

.MainHeader {
  max-width: 1200px;
  margin: 0 auto;
  padding: .6em 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .MainHeader-logoLink {
    text-decoration: none;
    margin-left: 1.5em; }
  .MainHeader-logo {
    color: white;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 200;
    font-style: italic; }
  .MainHeader-logoBold {
    font-weight: bold; }
  .MainHeader-linkMenu {
    color: white;
    font-size: 2em;
    margin-right: .8em; }
  .MainHeader-search {
    width: 35%;
    display: none; }
  .MainHeader-items {
    display: none; }

.NavTop {
  display: flex;
  align-items: center; }
  .NavTop-element {
    display: flex;
    align-content: center;
    color: white;
    text-decoration: none;
    self-align: center;
    align-items: center;
    margin-left: 1.5em; }
    .NavTop-element i {
      font-size: 2.5em;
      margin-left: 0.3em; }
  .NavTop-profile {
    height: 50px;
    border-radius: 50%;
    margin-right: .5em; }

.MainContent {
  max-width: 1200px;
  margin: 0 auto; }
  .MainContent-ads {
    display: none; }
  .MainContent-leftSidebar {
    display: none; }
  .MainContent-rightSidebar {
    display: none; }
  .MainContent-articles {
    padding: 1em; }

.TopHeader {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em 0; }
  .TopHeader-links {
    margin: 0;
    padding: 0; }
  .TopHeader-item {
    list-style: none; }
  .TopHeader-link {
    color: white;
    text-decoration: none;
    display: block;
    display: block;
    width: 100%;
    padding: .6em 1em;
    font-weight: 200;
    box-sizing: border-box; }
  .TopHeader-search {
    margin: 1em 0; }

.Article {
  margin: 0 0 1.4em 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2); }
  .Article-title {
    font-family: 'Arvo', serif;
    font-size: 1.4em;
    margin: 0;
    color: #333333;
    font-weight: 100; }
  .Article-details {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(153, 153, 153, 0.3); }
  .Article-timePublished {
    font-size: .85em;
    color: #999999;
    font-family: 'Arvo', serif;
    font-weight: 100;
    margin: 0.1em 0; }
  .Article-author {
    margin: .1em 0;
    color: #F26115;
    font-size: .85em;
    font-family: 'Arvo', serif;
    font-weight: 100; }
  .Article-votation {
    display: flex; }
  .Article-upVotePoints, .Article-downVotePoints {
    color: white;
    border-radius: .5em;
    padding: .3em .7em;
    font-size: .9em;
    font-weight: 300; }
  .Article-upVote {
    margin: 0 1em;
    display: flex;
    align-items: center; }
  .Article-logoUpVote, .Article-logoDownVote {
    font-size: 2em;
    text-decoration: none;
    color: #333;
    margin-right: .4em; }
  .Article-upVotePoints {
    background: #3FA9F5; }
  .Article-downVote {
    display: flex;
    align-items: center; }
  .Article-downVotePoints {
    background: #E02F2F; }
  .Article-tagText {
    font-family: 'Arvo', serif;
    font-size: .95em; }
  .Article-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .Article-cover {
    max-width: 100%;
    margin-top: 1em; }
  .Article-imageCover {
    width: 100%;
    background-size: cover; }
  .Article-socialLinks {
    display: flex;
    flex-wrap: wrap;
    margin: .2em 0 1em 0; }

.Tag {
  margin: .5em 0 0 0; }
  .Tag-title {
    color: white;
    text-decoration: none;
    padding: .5em;
    background: #F26115;
    font-weight: 300;
    font-size: .9em; }

.ButtonSocial {
  width: 50%; }
  .ButtonSocial-link {
    display: block;
    color: white;
    font-weight: 400;
    text-decoration: none;
    border-radius: 1em;
    padding: .4em;
    text-align: center;
    margin: .2em .5em;
    position: relative; }
  .ButtonSocial-logo {
    position: absolute;
    left: .7em;
    font-size: 1.3em;
    top: 50%;
    transform: translateY(-50%); }
  .ButtonSocial-facebook {
    background: #3B5998; }
  .ButtonSocial-twitter {
    background: #55ACEE; }
  .ButtonSocial-whatsapp {
    background: #4DC247; }
  .ButtonSocial-googlePlus {
    background: #E02F2F; }

.expanded {
  display: block;
  height: 100%;
  animation: 1s all ease-in; }

.noExpanded {
  display: none;
  height: 0%;
  animation: 1s all ease-in; }

.Search {
  position: relative;
  padding: 0 1em; }
  .Search i {
    position: absolute;
    right: 1.5em;
    top: 50%;
    transform: translateY(-50%);
    color: #F26115;
    z-index: 4;
    font-size: 1.5em; }
  .Search-inputSearch {
    width: 100%;
    height: 2.5em;
    border-radius: 1em;
    padding: 1em;
    border: none;
    box-sizing: border-box;
    position: relative; }
    .Search-inputSearch:focus {
      outline: 0; }

@media (min-width: 768px) {
  .MainHeader-logoLink {
    margin-left: 1em; }
  .MainHeader-linkMenu {
    margin-right: 1em; }

  .MainContent {
    display: flex; }
    .MainContent-ads {
      display: block;
      width: 728px;
      height: 90px;
      border: 1px solid gray;
      align-self: center; }
    .MainContent-articles {
      width: 70%; }
    .MainContent-content {
      display: flex;
      margin-top: 1em;
      flex-direction: column;
      width: 100%; }
    .MainContent-rightSidebar {
      display: block;
      border: 1px solid gray;
      min-width: 300px; }
    .MainContent-main {
      display: flex;
      margin-top: 1em; } }
@media (min-width: 1024px) {
  .MainHeader-linkMenu {
    display: none; }
  .MainHeader-items {
    display: block;
    margin-right: 1em; }
  .MainHeader-search {
    display: block; }

  .TopHeader {
    display: none; }

  .MainContent-leftSidebar {
    display: block;
    min-width: 200px;
    padding: 0 1em; }

  .WidgetNav-mainMenu {
    padding: 0; }
  .WidgetNav-element {
    list-style: none; }
  .WidgetNav-linkMain {
    font-weight: 400;
    text-decoration: none;
    color: #333333; }
  .WidgetNav-subMenu {
    padding: .5em 1em; }
  .WidgetNav-subElement {
    list-style: none; }
  .WidgetNav-subLink {
    font-weight: 300;
    text-decoration: none;
    color: #333333;
    font-size: .9em; } }

/*# sourceMappingURL=style.css.map */
