/* Imports */

@import 'normalize';

/* Colors */ 

$max-width: 1200px;

$mainOrange: #EF4824;
$secondaryOrange: #F26115;
$colorCelest: #3FA9F5;
$colorRed: #E02F2F;
$colorFont: #333333;
$colorSubTitleFont: #999999;

$sidebarColor: #3B5998;

$colorUpVotes: #3FA9F5;
$colorDownVotes:#E02F2F;

$blueColor: #3B5998;
$colorFacebook: #3B5998;
$colorTwitter: #55ACEE;
$colorWhatsapp: #4DC247;
$colorGooglePlus: #E02F2F;

/* Font Familys 

font-family: 'Arvo', serif;
font-family: 'Roboto', sans-serif;

*/

body{
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}
.Layout{
  &-header{
    background: $mainOrange;
  }
  &-mainContent{

  }
  &-menu{
    background: $secondaryOrange;
  }
}

.MainHeader{
  max-width: $max-width;
  margin: 0 auto;
  padding: .6em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-logoLink{
    text-decoration: none;
    margin-left: 1.5em;  
  }
  &-logo{
    color: white;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 200;
    font-style: italic;
  }
  &-logoBold{
    font-weight: bold;
  }
  &-linkMenu{
    color: white;
    font-size: 2em;
    margin-right: .8em;
  }
  &-search{
    width: 35%;
    display:none;

  }
  &-items{
    display:none;
  }

}

.NavTop{
  display:flex;
  align-items: center;
  &-element{
    display:flex;
    align-content:center;
    color:white;
    text-decoration: none;
    self-align: center;
    align-items: center;
    margin-left:1.5em;
    i{
      font-size: 2.5em;
      margin-left: .3em
    }
  }
  &-profile{
    height: 50px;
    border-radius:50%;
    margin-right: .5em;
  }
}

.MainContent{
  max-width:$max-width;
  margin: 0 auto;
  &-ads{
    display:none;
  }
  &-leftSidebar{
    display:none;
  }
  &-rightSidebar{
    display:none;
  }
  &-articles{
    padding: 1em;   
  }
}

.TopHeader{
  max-width: $max-width;
  margin: 0 auto;
  padding: 1em 0;
  &-links{
    margin: 0;
    padding: 0;
  }
  &-item{
    list-style: none;
  }
  &-link{
    color:white;
    text-decoration: none;
    display:block;
    display: block;
    width: 100%;
    padding: .6em 1em;
    font-weight: 200;
    box-sizing: border-box;
  }
  &-search{
    margin: 1em 0;
  }
}

.Article{
  margin: 0 0 1.4em 0;
  border-bottom: 1px solid rgba(gray,0.2);
  &-title{
    font-family: 'Arvo', serif;
    font-size: 1.4em;
    margin:0;
    color: $colorFont;
    font-weight:100;
  }
  &-details{
    display:flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(#999,0.3);
  }
  &-detailsText{
    
  }
  &-timePublished{
    font-size: .85em;
    color: $colorSubTitleFont;
    font-family: 'Arvo', serif;
    font-weight:100;
    margin:0.1em 0;
  }
  &-author{
    margin:.1em 0;
    color: $secondaryOrange;
    font-size: .85em;
    font-family: 'Arvo', serif;
    font-weight:100;
  }
  &-votation{
    display:flex;
  }
  &-upVotePoints,
  &-downVotePoints{
    color:white;
    border-radius:.5em;
    padding:.3em .7em;
    font-size:.9em;
    font-weight: 300;
  }

  &-upVote{
    margin:0 1em;
    display:flex;
    align-items: center;
  }

  &-logoUpVote,
  &-logoDownVote{
    font-size: 2em;
    text-decoration: none;
    color: #333;
    margin-right: .4em;
  }
  &-upVotePoints{
    background: $colorUpVotes;
  }

  &-downVote{
    display:flex;
    align-items: center;
  }
  &-downVotePoints{
    background: $colorDownVotes;
  }

  &-containerTags{

  }
  &-tagText{
    font-family: 'Arvo', serif;
    font-size: .95em;
  }
  &-tags{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-cover{
    max-width: 100%;
    margin-top:1em;
  }
  &-imageCover{
    width:100%;
    background-size:cover;
  }
  &-socialLinks{
    display:flex;
    flex-wrap:wrap;
    margin: .2em 0 1em 0;
  }

}

.Tag{
  margin:.5em 0 0 0;
  &-title{
    color:white;
    text-decoration: none;
    padding: .5em;
    background: $secondaryOrange;
    font-weight: 300;
    font-size: .9em;
  }
}

.ButtonSocial{
  width:50%;
  &-link{
    display:block;
    color: white;
    font-weight: 400;
    text-decoration:none;
    border-radius: 1em;
    padding:.4em;
    text-align:center;
    margin:.2em .5em;
    position:relative;
  }
  &-logo{
    position:absolute;
    left:.7em;
    font-size:1.3em;
    top:50%;
    transform: translateY(-50%);
  }
  &-facebook{
    background: $colorFacebook;
  }
  &-twitter{
    background: $colorTwitter;
  }
  &-whatsapp{
    background: $colorWhatsapp;
  }
  &-googlePlus{
    background: $colorGooglePlus;
  }
}

.expanded{
  display:block;
  height: 100%;
  animation: 1s all ease-in;
}
.noExpanded{
  display:none;
  height:0%;
  animation: 1s all ease-in;
}

.Search{
  position:relative;
  padding: 0 1em;
  i{
    position:absolute;
    right:1.5em;
    top:50%;
    transform: translateY(-50%);
    color: $secondaryOrange;
    z-index:4;
    font-size:1.5em;
  }
  &-inputSearch{
    width:100%;
    height: 2.5em;
    border-radius: 1em;
    padding: 1em;
    border: none;
    box-sizing: border-box;
    position:relative;
    &:focus{
      outline:0;
    }
  }
}
@media (min-width: 768px){
  .MainHeader{
    &-logoLink{
      margin-left: 1em;
    }
    &-linkMenu{
      margin-right: 1em;
    }
  }  
  .MainContent{
    display:flex;
    &-ads{
      display:block;
      width:728px;
      height:90px;
      border: 1px solid gray;
      align-self: center;
    }
    &-articles{
      width:70%;
    }
    &-content{
      display:flex;
      margin-top: 1em;
      flex-direction: column;
      width: 100%;
    }
    &-rightSidebar{
      display:block;
      border: 1px solid gray;
      min-width: 300px ;
    }
    &-main{
      display:flex;
      margin-top: 1em;
    }
  }
}

@media (min-width: 1024px){
  .MainHeader{
    &-linkMenu{
      display:none;
    }
    &-items{
      display:block;
      margin-right: 1em;
    }
    &-search{
      display:block;
    }
  }
  .TopHeader{
    display:none;
  }
  .MainContent{
    &-leftSidebar{
      display:block;
      min-width: 200px;
      padding: 0 1em;
    }
  }
  .Widget{

  }
  .WidgetNav{
    &-mainMenu{
      padding:0;
    }
    &-element{
      list-style:none;
    }
    &-linkMain{
      font-weight:400;
      text-decoration:none;
      color:$colorFont;
    }
    &-subMenu{
      padding: .5em 1em;
    }
    &-subElement{
      list-style:none;
    }
    &-subLink{
      font-weight: 300;
      text-decoration:none;
      color:$colorFont;
      font-size: .9em;
    }
  }
}
@media (min-width: 1200px) {

}

